@font-face {
  font-family: "iconfont"; /* Project id 1318634 */
  src: url('iconfont.woff2?t=1625395010324') format('woff2'),
       url('iconfont.woff?t=1625395010324') format('woff'),
       url('iconfont.ttf?t=1625395010324') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e623";
}

.icon-vpn:before {
  content: "\e6b2";
}

.icon-message:before {
  content: "\e605";
}

.icon-empty:before {
  content: "\e646";
}

.icon-network-error:before {
  content: "\e695";
}

.icon-clock:before {
  content: "\e675";
}

.icon-didian:before {
  content: "\e604";
}

.icon-entrance:before {
  content: "\e9f6";
}

.icon-share:before {
  content: "\e60c";
}

.icon-pin:before {
  content: "\e773";
}

.icon-locate:before {
  content: "\e69c";
}

.icon-walk:before {
  content: "\e69a";
}

.icon-car:before {
  content: "\e610";
}

.icon-direction:before {
  content: "\e9fd";
}

.icon-locker:before {
  content: "\e61a";
}

.icon-reverse:before {
  content: "\e7c1";
}

.icon-plane:before {
  content: "\e669";
}

.icon-help-outline:before {
  content: "\e692";
}

.icon-indoor:before {
  content: "\e61b";
}

.icon-service:before {
  content: "\edd4";
}

.icon-arrow-11:before {
  content: "\e615";
}

.icon-arrow-24:before {
  content: "\e618";
}

.icon-arrow-5:before {
  content: "\e619";
}

.icon-campus:before {
  content: "\e614";
}

.icon-building-character:before {
  content: "\e611";
}

.icon-room-character:before {
  content: "\e612";
}

.icon-facility-character:before {
  content: "\e613";
}

.icon-menu:before {
  content: "\e628";
}

.icon-minus:before {
  content: "\e60e";
}

.icon-plus:before {
  content: "\e60d";
}

.icon-hide:before {
  content: "\e73b";
}

.icon-display-copy:before {
  content: "\e8f1";
}

.icon-display:before {
  content: "\e62b";
}

.icon-home:before {
  content: "\e60b";
}

.icon-arrow:before {
  content: "\e606";
}

.icon-group:before {
  content: "\e60a";
}

.icon-location:before {
  content: "\e65f";
}

.icon-culture:before {
  content: "\e6cc";
}

.icon-study:before {
  content: "\e617";
}

.icon-scenery:before {
  content: "\e60f";
}

.icon-phone:before {
  content: "\e653";
}

.icon-mail:before {
  content: "\e603";
}

.icon-back:before {
  content: "\e61f";
}

.icon-portrait:before {
  content: "\e62f";
}

.icon-double-arrow-left:before {
  content: "\e607";
}

.icon-close:before {
  content: "\e635";
}

.icon-marker:before {
  content: "\e78f";
}

.icon-arrow-right:before {
  content: "\e6ea";
}

.icon-arrow-left:before {
  content: "\e602";
}

.icon-arrow-right-copy:before {
  content: "\edd5";
}

.icon-arrow-up:before {
  content: "\e616";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e69b";
}

.icon-printer:before {
  content: "\e600";
}

.icon-water:before {
  content: "\e69d";
}

.icon-coffee:before {
  content: "\e777";
}

.icon-vending:before {
  content: "\e77e";
}

